body {
    display: flex;
    flex-direction: column;
    font-family: 'Spartan', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
/*Top Header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
    padding-left: 150px;
    padding-right: 150px;
  }

  /*Don't edit anything above*/

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    height: 400px;
    gap: 20px;
}
.header-logo {
    display: flex;
    padding: 18px;
    font-size: 24px;
    font-weight: bold;
    gap: 24px;
    color: white;
}
.header-right {
    display: flex;
    padding: 18px;
    gap: 24px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li>a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
.blurb-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.blurb {
    color: white;
    width: 500px;
}
.header-button {
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px 15px;
    text-decoration: none;
}
.header-image {
    border: 8px solid white;
    border-radius: 25px;
    overflow: hidden;
}